.genre_wrapper {
  padding: 2rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 432px) {
    padding: 2rem 1rem 3rem;
  }
  .genre_header_link {
    width: 100%;
  }
  .genre_lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .genre_img_wrap {
    border-radius: 8px;
    width: 200px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    @media screen and (max-width: 432px) {
      width: 149px;
      height: 208px;
    }

    &:hover::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.295);
    }
    .genre_img {
      width: 100%;
      height: 100%;
    }
  }
}
