.recommend2_wrapper {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  .recommended2_album_wrap {
    cursor: pointer;
  }
}
