.recommend2_wrapper {
  padding: 0rem 2rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  .recommended2_album_wrap {
    cursor: pointer;
  }
}
.recommend2_header_link {
  width: 100%;
  padding: 2rem 2rem 0rem;
}
