@mixin section_headers {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #d4d4d4;
}
@mixin section_layouts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidenav_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  .sidenav_logo {
    margin-bottom: 1rem;
    @media screen and (max-width: 890px) {
      display: none;
    }
  }
  .sidenav_auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
    .sidenav_avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: #5e5e5e;
      margin-right: 0.7rem;
    }
    .sidenav_auth_text {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.2rem;
      .sidenav_auth_text1,
      .sidenav_auth_text2 {
        cursor: pointer;
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        align-items: center;
        color: #d4d4d4;
        &:hover {
          color: #d6ff00;
        }
      }
    }
  }
  .sidenav_lectures {
    @include section_layouts;
    margin-bottom: 2rem;
    .sidenav_lectures_header {
      @include section_headers;
    }
  }
  .sidenav_library {
    @include section_layouts;
    margin-bottom: 2rem;
    .sidenav_library_header {
      @include section_headers;
    }
  }
  .sidenav_Buzz {
    @include section_layouts;
    margin-bottom: 0.5rem;
    .sidenav_Buzz_header {
      @include section_headers;
    }
  }
  .sidenav_podcast {
    @include section_layouts;
    margin-bottom: 2rem;
    .sidenav_podcast_header {
      @include section_headers;
    }
  }
}
