.video_wrapper {
  padding: 2rem 2rem 3rem;
  .video_filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .video_filter_categories {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;
      flex-wrap: wrap;
    }
    .video_filter_language {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;
      flex-wrap: wrap;
      margin-top: 0.8rem;
    }
  }
  .video_widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
    @media screen and (max-width: 512px) {
      justify-content: center;
    }
  }
}
