.layout_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .layout_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #22222271;
    z-index: 100;
    display: none;
    backdrop-filter: blur(1.5px);
    @media screen and (max-width: 890px) {
      display: flex;
    }
  }
  .layout_sidenav_open {
    width: 25%;
    @media screen and (max-width: 890px) {
      width: 60%;
    }
  }
  .layout_sidenav_close {
    width: 0%;
  }
  .layout_sidenav {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #030303;
    transition: width 0.8s ease-in-out;
    &::-webkit-scrollbar {
      display: none;
    }
    @media screen and (max-width: 890px) {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      z-index: 200;
    }
  }
  // .layout_outlet_full {
  //   width: 100%;
  // }
  // .layout_outlet_open {
  //   width: 80%;
  // }
  .layout_outlet {
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #222222;
    @media screen and (max-width: 890px) {
      width: 100%;
    }
  }
  .layout_buttom_menue {
    position: absolute;
    width: 100%;
    background: #030303;
    bottom: 0px;
    left: 0px;
    z-index: 90;
    @media screen and (min-width: 500px) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    .layout_buttom_menue1 {
      width: 100%;
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      border-bottom: 1px solid rgba(88, 88, 88, 0.2);
      .layout_buttom_text_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.4rem;
        .layout_buttom_text1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: #d4d4d4;
          margin: unset;
          max-width: 210px;
          white-space: nowrap;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          @media screen and (max-width: 389px) {
            max-width: 150px;
          }
        }
        .layout_buttom_text2 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          color: #d4d4d4;
          margin: unset;
          max-width: 190px;
          white-space: nowrap;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          @media screen and (max-width: 389px) {
            max-width: 120px;
          }
        }
      }
      .layout_buttom_share {
        color: #cfcfcf;
        font-size: 30px;
        cursor: pointer;
      }
      .layout_buttom_play_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #ddff2b;
        .layout_buttom_play_icon {
          font-size: 18px;
          color: #000000;
          cursor: pointer;
        }
      }
    }
    .layout_buttom_menue2 {
      width: 100%;
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      .layout_buttom_menue2_home {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8px;
        cursor: pointer;
        .layout_buttom_menue2_homeIcon {
          font-size: 30px;
          color: #cfcfcf;
        }
        .layout_buttom_menue2_homeText {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #d4d4d4;
          margin: unset;
        }
      }
      .layout_buttom_menue2_library {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8px;
        cursor: pointer;
        .layout_buttom_menue2_libraryIcon {
          font-size: 30px;
          color: #cfcfcf;
        }
        .layout_buttom_menue2_libraryText {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #d4d4d4;
          margin: unset;
        }
      }
      .layout_buttom_menue2_favourite {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8px;
        cursor: pointer;
        .layout_buttom_menue2_favouriteIcon {
          font-size: 30px;
          color: #cfcfcf;
        }
        .layout_buttom_menue2_favouriteText {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #d4d4d4;
          margin: unset;
        }
      }
    }
  }
}
