.videoWidget_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 250.59px;
  overflow: hidden;
  border-radius: 8px;
  .videoWidget_top {
    width: 100%;
    height: 177.59px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    border-radius: 8px 8px 0px 0px;
    .videoWidget_background_image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .videoWidget_play {
      cursor: pointer;
      position: absolute;
      bottom: 55.035px;
      left: 139.035px;
      width: 62.07px;
      height: 62.07px;
      background: rgba(34, 34, 34, 0.4);
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .videoWidget_play_icon {
        color: #cfcfcf;
        font-size: 30px;
      }
    }
    .videoWidget_duration {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38.79px;
      height: 22px;
      background: rgba(13, 13, 13, 0.7);
      border-radius: 1.70936px;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      .videoWidget_duration_text {
        margin: unset;
        padding: unset;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        color: #ffffff;
      }
    }
  }
  .videoWidget_buttom {
    height: 73px;
    width: 100%;
    background: #222222;
    border-radius: 0px 0px 8px 8px;
    position: relative;
    padding: 0px 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .videoWidget_buttom_left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .videoWidget_buttom_head {
        margin: unset;
        padding: unset;
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
        max-width: 196px;
      }
      .videoWidget_buttom_lecturer_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.5rem;
        .videoWidget_buttom_lecturer {
          margin: unset;
          padding: unset;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #868686;
          margin-left: 0.8rem;
        }
      }
    }
    .videoWidget_buttom_right {
      position: absolute;
      top: 2rem;
      right: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      .videoWidget_buttom_right_icon {
        font-size: 22px;
        color: #868686;
        margin-right: 0.3rem;
      }
      .videoWidget_buttom_right_text {
        margin: unset;
        padding: unset;
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #868686;
      }
    }
  }
}
