@mixin footer_text_header {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
@mixin footer_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #d4d4d4;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem 5rem;
  background-color: #222222;
  @media screen and (max-width: 1224px) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  @media screen and (max-width: 500px) {
    padding: 3rem 5rem 10.4375rem;
  }
  .footer_main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    @media screen and (max-width: 830px) {
      flex-wrap: wrap;
    }
    .footer_main_item1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 8rem;
      @media screen and (max-width: 1464px) {
        margin-right: 4rem;
      }
      @media screen and (max-width: 1144px) {
        margin-right: 2rem;
      }
      .footer_main_item1_header {
        @include footer_text_header;
      }
      a {
        @include footer_text;
        text-decoration: none;
        margin-bottom: 1rem;
      }
    }
    .footer_main_item2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 8rem;
      @media screen and (max-width: 1464px) {
        margin-right: 4rem;
      }
      @media screen and (max-width: 1144px) {
        margin-right: 2rem;
      }
      .footer_main_item2_header {
        @include footer_text_header;
      }
      a {
        @include footer_text;
        text-decoration: none;
        margin-bottom: 1rem;
      }
    }
    .footer_main_item3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 8rem;
      @media screen and (max-width: 1464px) {
        margin-right: 4rem;
      }
      @media screen and (max-width: 1144px) {
        margin-right: 2rem;
      }
      @media screen and (max-width: 603px) {
        margin-right: 8rem;
      }
      .footer_main_item3_header {
        @include footer_text_header;
      }
      a {
        @include footer_text;
        text-decoration: none;
        margin-bottom: 1rem;
      }
    }
    .footer_main_item4 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media screen and (max-width: 798px) and (min-width: 620px) {
        margin-left: 3rem;
      }
      .footer_main_item4_header {
        @include footer_text_header;
      }

      .footer_follow_icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
          margin-right: 1rem;
        }
      }
    }
  }
  .footer_sub {
    margin-top: 4rem;
    .footer_sub_text {
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #e4ff55;
      text-align: center;
    }
  }
}
