.groupWidget_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  .groupWidget_top {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    @media screen and (max-width: 500px) {
      padding: 0rem 1rem;
    }
    .groupWidget_top_heading {
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;
      display: flex;
      align-items: center;
      color: #d4d4d4;
      margin: unset;
    }
    .groupWidget_more {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      .groupWidget_more_text {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #d6ff00;
        margin: unset;
      }
      .groupWidget_more_icon {
        color: #d6ff00;
        font-size: 25px;
        margin-left: 0.2rem;
      }
    }
  }
  .groupWidget_items {
    padding-left: 2rem;
    // @media screen and (max-width: 513px) {
    //   padding-right: 2rem;
    // }
    @media screen and (max-width: 500px) {
      padding-left: 1rem;
    }
    .groupWidget_lecturer_item,
    .groupWidget_album_item {
      cursor: pointer;
    }
    .groupWidget_album_item {
      width: fit-content !important;
      height: fit-content !important;
    }
    .groupWidget_lecturer_item {
      @media screen and (max-width: 513px) {
        margin-bottom: 1rem;
      }
    }
  }
  .groupWidget_carousel_lecturers {
    // .slick-list {
    //   height: 100% !important;
    // }
    // @media screen and (max-width: 513px) {
    //   height: 400px;
    // }
  }
  .groupWidget_close_more {
    height: 14.313rem;
  }
  .groupWidget_albumclose_more {
    height: 276px;
    @media screen and (max-width: 513px) {
      height: 250px;
    }
  }
  .groupWidget_open_more {
    height: 100%;
  }
}
